# PostgreSQL (Neon) Database connection string
DATABASE_URL="postgresql://neondb_owner:npg_YOUR_PASSWORD@ep-YOUR-ENDPOINT-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Server Port
PORT=5000

# JWT Secrets
JWT_SECRET="super-secret-vms-jwt-token-key-2026-apptriangle"
JWT_EXPIRES_IN="7d"

# Client URLs (for CORS & WebSocket)
ADMIN_CLIENT_URL="http://localhost:5173"
MOBILE_CLIENT_URL="http://localhost:8081"
